*
{
    margin: 0;
    padding: 0;
}

html, body
{
    width: 100%;
    height: 100%;
}

body
{
    background-color: #2c3e50;
    font-family: Consolas, Roboto, Arial;
}

#container
{
    position: absolute;
    top: 15px;
    left: 15px;
    width: calc(100vh - 30px);
    height: calc(100vh - 30px);
    box-sizing: border-box;
}

.selected
{
    text-decoration: underline;
    font-weight: bold;
}

#grid
{
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border: 1px solid #ecf0f1;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    box-sizing: border-box;
}

#grid td
{
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ecf0f1;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    overflow: hidden;

    -ms-transform-origin: 50% 50%; /* IE 9 */
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;
}

#grid td:hover
{
    cursor: pointer;
    transform: scale(1.5, 1.5);
    overflow: visible;
}

.button
{
    position: absolute;
    left: calc(15px + 100vh - 30px + 15px);
    
    width: 100px;
    height: 35px;
    color: white;
    text-align: center;
    background-color: #2ecc71;
    line-height: 35px;
    box-sizing: border-box;
}

.button:hover
{
    background-color: #27ae60;
    cursor: pointer;
}

#up-button
{
    top: 15px;
}

#right-button
{
    top: 60px;
}

#down-button
{
    top: 105px;
}

#left-button
{
    top: 150px;
}

#nop-button
{
    top: 195px;
}

#angl-button
{
    top: 240px;
}

#angl
{
    box-sizing: border-box;
    border: none;
    width: 50px;
    height: 35px;
    position: absolute;
    top: 240px;
    left: calc(15px + 100vh - 30px + 15px + 100px + 15px);
    padding-left: 5px;
}

#magic-button
{
    top: 285px;
}

#force
{
    box-sizing: border-box;
    border: none;
    width: 100px;
    height: 35px;
    position: absolute;
    top: 490px;
    left: calc(15px + 100vh - 30px + 15px);
    padding-left: 5px;
}

#print-button
{
    top: calc(100vh - 30px - (35px / 2) - 2px);
    background-color: #9b59b6;
}

#print-button:hover
{
    background-color: #8e44ad;
}

#auth
{
    box-sizing: border-box;
    border: none;
    width: 100px;
    height: 35px;
    position: absolute;
    top: calc(100vh - 30px - (35px / 2) - 2px);
    left: calc(15px + 100vh - 30px + 15px + 100px + 15px);
    padding-left: 5px;
}

#clear-button
{
    top: calc(100vh - 30px - (35px / 2) - 2px - 35px - 10px);
    background-color: #e74c3c;
}

#clear-button:hover
{
    background-color: #c0392b;
}

#output
{
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    display: none;
    border: 1px solid #8e44ad;
}

#opclose
{
    box-sizing: border-box;
    border: 2px solid red;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: red;
    font-size: 14px;
    position: absolute;
    right: 0;
    z-index: 110;
}

#opclose:hover
{
    cursor: pointer;
}

#op
{
    width: 100%;
    height: calc(100%);
    box-sizing: border-box;
    background-color: #34495e;
    border: none;
    color: white;
    padding: 5px;
    position: absolute;
    z-index: 100;
    overflow: hidden;
    resize: none;
}